/*****************************************************/
/* Estilos para el Proyecto Encriptador              */
/* Por: Antonio Solis Perales                        */
/* solispantonio@horizondevs.net                     */
/*****************************************************/
/* Importación de fuentes  */
@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Jura:wght@300..700&display=swap");
/* Variables Iniciales */
/***********************/
:root {
  /* Fonts types         */
  --fuente-jura: "Jura", sans-serif;
  --fuente-cutive: "Cutive Mono", monospace;

  /* Colores del sitio   */
  --color-fondo: #ffffff;
  --color-texto-normal: #a9a9a9;
  --color-texto-resaltado: #000080;
  --color-fondo-footer: #000080;
  --color-texto-error: #9a0000;
  --color-btn-principal: #808000;
  --color-btn-secundario: #FFD700;

}

/*  Parametros de reseteo  */
/***************************/
* {
  padding: 0;
  margin: 0;
}

ul{
  list-style: none;
}

textarea {
  width: 400px; /* Fija el ancho a 300 píxeles */
  height: 120px; /* Fija el alto a 150 píxeles */
  resize: none;
}

.header_logo {
  padding: 40px 0 0 40px;
}

/* Contenedor principal */
.box-process {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.box-inputs {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 400px;
  border-radius: 4px;
  background-color: var(--color-fondo);
  text-align: center;
  margin: 20px;
  padding: 20px;
  transition: 3s;
  box-shadow: 1px 0 5px 0 rgba(0, 0, 0, 0.6);
  justify-content: space-between;
}

.box-msg{
  font-family: var(--fuente-jura);
}

.box-output {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 400px;
  border-radius: 4px;
  background-color: var(--color-fondo);
  text-align: center;
  margin: 20px;
  padding: 20px;
  transition: 3s;
  box-shadow: 1px 0 5px 0 rgba(0, 0, 0, 0.6);
}

.box-data {
  display: flex;
  justify-content: center;
}

.box_process_inputs_data {
  display: flex;
  font-size: 1rem;
  font-family: var(--fuente-jura);
  background: var(--color-fondo);
  color: var(--color-texto-normal);
}

.box-msg-btns {
  display: flex;
  justify-content:space-between;
  flex-direction: column;
}

.box_button_group {
  display: flex;
  justify-content:space-between;
}

.btn {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  padding: 15px 15px;
  text-decoration: none;
  color: var(--color-texto-normal);
  font-family: var(--fuente-cutive);
}

.btn_encriptar {
  border: 2px solid var(--color-texto-resaltado);
  width: 85%;
  text-align: center;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 600;
  padding: 15px 15px;
  text-decoration: none;
  color: var(--color-fondo);
  font-family: var(--fuente-cutive);
  background: var(--color-btn-principal);
}

.btn_desencriptar {
  border: 2px solid var(--color-texto-resaltado);
  width: 85%;
  text-align: center;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 600;
  padding: 15px 15px;
  text-decoration: none;
  color: var(--color-secundario);
  font-family: var(--fuente-cutive);
}

.footer {
  font-family: var(--fuente-jura);
  font-size: 0.85rem;
  text-align: center;
}

.footer_text {
  text-decoration: none;
}





.principal_resultado_texto {
  display: flex;
  font-size: 1rem;
  font-family: var(--fuente-jura);
  background: var(--color-fondo);
  color: var(--color-texto-normal);
}

.social-icons{
  position: fixed;
  right: 30px;
  top: 30%;
}

.social-icons ul li{
  margin-top: 5px;
  text-align: center;
}

.social-icons ul li a{
  color: #000;
  padding: 10px;
  display: block;
  font-size: 29px;
}

.social-icons ul li a:hover{
  background-color: #220efb;
  color: #fff;
}